.casino .game-list .evQOJh {
    width: calc(100% / 7);
}

.load-more {
    cursor: pointer;
    user-select: none;
    border-radius: 100px;
    margin: 0 auto;
    background: none;
    outline: none;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.4em;
    line-height: 1.2;
    letter-spacing: 0.05em;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    border-width: 2px;
    border-style: solid;
    color: #7BF037;
    background-color: #171717;
    border-color: #7BF037;
    box-shadow: none;
    padding: 1rem 3rem;
    display: inline-block;
    margin-bottom: 20px;
}

.load-more:hover {
    color: #7BF037;
    background-color: #424242ff;
    border-color: #b0f687ff;
    box-shadow: none;
}